<div class="topbar">
    <h1>Grapevine</h1>
    <div class="clicklink">
        <a href="/article/new" class="newpost">New Post</a>
    </div>
</div>
{{#if articles}}
<ul>
    {{#each articles}}
    <li>
        <a href="/article/{{_id}}">{{title}}</a>
    </li>
    {{/each}}
</ul>
{{/if}}