<h2>New Article</h2>
<form action="/article" method="POST">
    Title<br>
    <input type="text" name="title" id="title" maxlength="50"><br>
    Article Here<br>
    <textarea rows="16" cols="90" name="content" id=""></textarea><br>
    <input type="submit" value="Post">
</form>